* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(../images/background.jpeg);
    object-fit: cover;


}

.header-logo{
    padding: 20px 10%;

}
.header-logo img {
    width: 150px;
    height: 120px;
    background: transparent;
}

.content-main {
    
    display:flex;
    justify-content: center;
    
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 550px;
    width: 420px;
    background-color: #FFF;
    padding: 5%;
}
.container h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

.content-dados {
    height: 64px;
    min-width: 280px;
    position: relative;
    background-color: rgba(186, 186, 186, 0.1); ;
    border-style: solid;
    border-width: 2px;
    border-color:transparent;
    border-radius: 4px;
    display: inline-flex;
    -webkit-box-align: center;
    margin-bottom: 20px;
}

.box-dados {
    background:transparent;
    border: none;
    padding: 31px 8px 15px;
    box-sizing: border-box;
    height: 60px;
    display: block;
    outline:none;
    width: 100%;
    line-height: 18px;
    font-size: 18px;
    font-weight: 18px; 
   
}

.box-dados {
    color: rgb(102, 102, 102);
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.06em;
    font-size: 12.64px;
    left: 16px;
    left: 16px;
    top: 22px;
    height: 17.33px;
    pointer-events: none;
}

span {
    color: rgb(102, 102, 102);
    font-family: "FF Mark W05", sans-serif;
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.08em;
    line-height: 100%;
    font-size: 11.24px;
    left: 8px;
    top: 7.33px;
    opacity: 1;  
}

 .media-sociais a {
    background-color:  #ffffff;
    width: 402px;
    height: 60px; 
}

.media-sociais a {
    width: 95px;
    height: 48px;
    background: #1068d4 ;
}
