* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../images/background.jpeg);
    object-fit: cover;


}

.header-logo {
    padding: 20px 10%;

}

.header-logo img {
    width: 150px;
    height: 120px;
    background: transparent;
}

section {
    display: flex;
    justify-content: center;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 558px;
    width: 580px;
    background-color: #FFF;
    padding-top: 5%;
   
}

.container h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

.content-dados {
    height: 50px;
    min-width: 480px;
    position: relative;
    background-color: rgba(186, 186, 186, 0.1);
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    border-radius: 4px;
    display: inline-flex;
    -webkit-box-align: center;
    margin-bottom: 20px;
    
}

.box-dados {
    background: transparent;
    border: none;
    padding: 15px;
    box-sizing: border-box;
    height: 70px;
    display: block;
    outline: none;
    width: 100%;
    line-height: normal;
    font-size: 18px;
    font-weight: bold;
    font-size: 15px;

}

.box-label {
    color: rgb(102, 102, 102);
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.06em;
    font-size: 12.64px;
    left: 16px;
    left: 16px;
    top: 22px;
    height: 17.33px;
    pointer-events: none;
}

span {
    color: rgb(145, 145, 145);
    font-family: "FF Mark W05", sans-serif;
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.08em;
    line-height: 100%;
    font-size: 11.24px;
    left: 8px;
    top: 7.33px;
    opacity: 1;
    font-size: 10px;
}

.media-sociais {
    display: inline-flex;
    justify-content: center;
    gap: 2%;
    align-items: center;
    margin-top: 0px;
    width: 100%;
    height: 40px;

}

.media-sociais .face,
.gmail,
.apple,
.xbox,
.plays {
    padding-left:-50%;
    padding-right: 0%;
    width: 90px;
    height: 31px;
    border-radius: 8px;
}

.media-sociais .face {
    background-color: #1e72cf;
    background-image: url(/assets/images/facebook.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.media-sociais .gmail {
    background-color: #FFF;
    background-image: url(/assets/images/gmail.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid rgb(218, 217, 217);
}

.media-sociais .apple {
    background-color: #0c0c0c;
    background-image: url(/assets/images/apple.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.media-sociais .xbox {
    background-color: #107c11;
    background-image: url(/assets/images/xbox.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.media-sociais .plays {
    background-color: #003791;
    background-image: url(/assets/images/play.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.div-check {
    width: 85%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
}

.check {
    height: 18px;
    width: 18px;
    background-color: #00c903;
}

h6 {
    font-size: 12px;
    margin-left: 7px;
    color: rgb(77, 77, 77);
}

.div-remember {
    height: 30%;
margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}

button{
    background-image: url(/assets/images/seta.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    height: 70px;
    width: 70px;
    border-radius: 35%;
    border:2px solid rgb(218, 217, 217);
    margin-bottom: 16px;
    
}

h5{
    font-size: 10px;
    text-transform: uppercase;
    color:#6b6b6b;
    line-height: 20px;
    
}

/*
.check-login {
    display: inline-block;
    position: relative;
    right: 113px;
    margin-top: 20px;
    font-size: 14px;
}


.check-login .check[type="checkbox"] {
    border-color: aqua;
  }