* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../images/background.jpeg);
    object-fit: cover;


}

.header-logo {
    padding: 20px 10%;

}

.header-logo img {
    width: 150px;
    height: 120px;
    background: transparent;
}

section {
    display: flex;
    justify-content: center;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 558px;
    width: 415px;
    background-color: #FFF;
    padding: ;
}

.container h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

.content-dados {
    height: 60px;
    min-width: 280px;
    position: relative;
    background-color: rgba(186, 186, 186, 0.1);
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    border-radius: 4px;
    display: inline-flex;
    -webkit-box-align: center;
    margin-bottom: 20px;
}

.box-dados {
    background: transparent;
    border: none;
    padding: 15px;
    box-sizing: border-box;
    height: 90px;
    display: block;
    outline: none;
    width: 100%;
    line-height: normal;
    font-size: 18px;
    font-weight: bold;

}

.box-label {
    color: rgb(102, 102, 102);
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.06em;
    font-size: 12.64px;
    left: 16px;
    left: 16px;
    top: 22px;
    height: 17.33px;
    pointer-events: none;
}

span {
    color: rgb(102, 102, 102);
    font-family: "FF Mark W05", sans-serif;
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.08em;
    line-height: 100%;
    font-size: 11.24px;
    left: 8px;
    top: 7.33px;
    opacity: 1;
}

.media-sociais {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
    width: 100%;
    height: 40px;

}

.media-sociais .face,
.gmail,
.apple,
.xbox {
    padding-left: 5%;
    padding-right: 5%;
    width: 78px;
    height: 31px;
    border-radius: 8px;
}

.media-sociais .face {
    background-color: #1e72cf;
    background-image: url(/assets/images/facebook.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.media-sociais .gmail {
    background-color: #FFF;
    background-image: url(/assets/images/gmail.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid rgb(218, 217, 217);
}

.media-sociais .apple {
    background-color: #0c0c0c;
    background-image: url(/assets/images/apple.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.media-sociais .xbox {
    background-color: #107c11;
    background-image: url(/assets/images/xbox.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}



.div-check {
    background-color: rgba(186, 186, 186, 0.3);
    border-color: rgba(186, 186, 186, 0.3);
    margin-bottom: 0px;

}

.check {
    opacity: 0;
    position: absolute;
    margin-left: -1.5px;
    background: transparent;
    border: none;
    padding: 31px 8px 15px;
    box-sizing: border-box;
    display: block;
    outline: none;
    color: rgb(31, 31, 31);
    line-height: 18px;
    font-size: 18px;
    font-weight: 700;
    font-family: "FF Mark W05", sans-serif;
    height: 33px !important;
    width: 34px !important;
}
svg {
    fill: transparent;
    align-self: baseline;
    stroke: transparent;
    padding: 3px 5px 5px;
    stroke-width: 5;

}



/*
.check-login {
    display: inline-block;
    position: relative;
    right: 113px;
    margin-top: 20px;
    font-size: 14px;
}


.check-login .check[type="checkbox"] {
    border-color: aqua;
  }